body{background-color: rgb(9, 2, 29);
    width: 100vw;
    height: 100vw;
    margin: 0;}
    .rover{width: 30rem;
    height: 30rem;
    position: fixed;
    display: block;}
    .mars{position: fixed;
    width: 100%;
    height: 10.5rem;
    z-index: -1;
    background-color: #913a25;
    border-top: 1rem solid #d15f44;
    bottom: 0;}
    .planet{width: 5rem;
    height: 5rem;
    position: fixed;
    z-index: -2;}
    .rover{bottom: 10.5rem;
    left: 10%;}
    .rover:after{content: url(images/dish.svg);
    width: 10rem;
    height: 10rem;
    position: absolute;
    left: 3rem;
    top: 2rem;}
    .planet{animation: rise 10s ease-in 1;}
    @keyframes rise {
    from{bottom: 0;
    transform: rotate(0 scale 1);}
    to{bottom: 75%;
    transform: rotate(180deg scale 2);}
    }
    .planet{animation-fill-mode: forwards;
    left: 30%;}
    .rover:after{z-index: 1;
    transform-origin: center bottom;
    animation: rotate 2s linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;}
    @keyframes rotate {
        from{transform: rotate(-5deg);}
        to{transform: rotate(-33deg);}
    }
    .rover{animation: drive;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;}
    @keyframes drive {
        from{left: .5;}
        to{left: 90%;}
    }
    .pug{
        padding-left: 10%;
    animation: pug;
    animation-duration: .3s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;}
    @keyframes pug {
        from{transform: rotate(10deg);}
        to{transform: rotate(5deg);}
    }