body{background-color: rgb(6,6,56);}
body{color: rgb(255,255,255)}
body{font-family: 'Courier New', Courier, monospace;}
body{margin: 0;}
header{background-color: rgb(25,64,100);}
header{padding: 2rem;}
header a{color: rgb(66,211,221)}
header{text-align: center;}
main{padding: 1rem;}
.home-content div{display: inline-block}
.home-content div{width: 60%;}
.home-content img{width: 38%;}
.home-content img{vertical-align: top;}
.jellies, .whales, .creatures {background-color: rgb(19,107,114);}
.jellies, .whales, .creatures {padding: 1rem;}
.jellies, .whales, .creatures {display:inline-block}
.jellies, .whales, .creatures {margin: 0.5rem;}
.jellies, .whales, .creatures {vertical-align: top;}
.jellies{width: 29%;}
img{max-width: 100%;}
.whales{width: 46%;}
.creatures{width: 29%;}