body{
    background-color: #0f0f0f;
    color: #fcfbfc;
    font-family: 'EB Garamond', serif;
    margin: 0;
}
h1,h2{
    color: #f72127;
    font-family: 'Cinzel Decorative', cursive;
}
header{
    background-color: #18251c;
    padding: 1rem;
}
nav>a{
    color: #fcfbfc;
    background-color: #5c765a;
    padding: 1rem;
    font-weight: 800;
    display: inline-block;
    margin: 1rem 1rem 1rem 0;
    transition-property: opacity;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}
.sidenav{
    background-color: #5c765a;
    padding: .5rem 1rem;
}
.sidenav>a{
    background-color: #fae2c0;
    color: #0f0f0f;
    padding: .5rem 1rem;
    display: inline-block;
    margin: 1rem 2rem;
    position: relative;
    transition: opacity .2s ease-in-out, left .5s ease-in-out;
}
main{
    padding: 1rem;
}
section{
    padding: 0 1rem;
    padding-left: 5rem;
    position: relative;
}
section:before{
    position: absolute;
    width: 3rem;
    height: 3rem;
    transform: scale(.07);
    left: 0;
    top: 0;
}
.title{
    margin: 0;
    padding: 2rem 1rem;
    background-color: #2e0105;
}
.sidenav>a:before, .sidenav>a:after{
    position: absolute;
    width: 1.7rem;
    height: 2.5rem;
    top: -.6rem;
}
.sidenav>a:before{
    content:url(images/scroll-left.svg);
    left: -1.6rem;
}
.sidenav>a:after{
    content: url(images/scroll-right.svg);
    right: -1.6rem;
}
@media (min-width:1100px){
    body{
        display: grid;
        grid-template-columns: 20rem auto;
    }
    header{
        display: flex;
        justify-content: space-between;
        grid-column-start:1;
        grid-column-end:4;
        grid-row-start:1;
        grid-row-end:3;
    }
    .sidenav>a{
        display: block;
        text-align: right;
        margin: 2rem;
        left: -10rem;
    }
    .sidenav>a:hover{
        left: 0;
    }
}